@font-face {
    font-family: 'caslon';
    src: url('../style/fonts/caslon/big_caslon_medium-webfont.eot');
    src: url('../style/fonts/caslon/big_caslon_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../style/fonts/caslon/big_caslon_medium-webfont.woff2') format('woff2'),
         url('../style/fonts/caslon/big_caslon_medium-webfont.woff') format('woff'),
         url('../style/fonts/caslon/big_caslon_medium-webfont.ttf') format('truetype'),
         url('../style/fonts/caslon/big_caslon_medium-webfont.svg#big_caslonmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'basis';
    src: url('../style/fonts/basis/black/basis-grotesque-black.eot');
    src: url('../style/fonts/basis/black/basis-grotesque-black.eot?#iefix') format('embedded-opentype'),
         url('../style/fonts/basis/black/basis-grotesque-black.woff2') format('woff2'),
         url('../style/fonts/basis/black/basis-grotesque-black.woff') format('woff'),
         url('../style/fonts/basis/black/basis-grotesque-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Cond Super';
    src: url('../style/fonts/druk/DrukCond-Super.woff2') format('woff2'),
        url('../style/fonts/druk/DrukCond-Super.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Text Wide';
    src: url('../style/fonts/druk/DrukTextWide-Medium.woff2') format('woff2'),
        url('../style/fonts/druk/DrukTextWide-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Druk XCond Super';
    src: url('../style/fonts/druk/DrukXCond-Super.woff2') format('woff2'),
        url('../style/fonts/druk/DrukXCond-Super.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Text';
    src: url('../style/fonts/druk/DrukText-Medium.woff2') format('woff2'),
        url('../style/fonts/druk/DrukText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Text Wide Super';
    src: url('../style/fonts/druk/DrukTextWide-Super.woff2') format('woff2'),
        url('../style/fonts/druk/DrukTextWide-Super.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Druk XXCond Super';
    src: url('../style/fonts/druk/DrukXXCond-Super.woff2') format('woff2'),
        url('../style/fonts/druk/DrukXXCond-Super.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Text Super';
    src: url('../style/fonts/druk/DrukText-Super.woff2') format('woff2'),
        url('../style/fonts/druk/DrukText-Super.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Text Wide';
    src: url('../style/fonts/druk/DrukTextWide-Heavy.woff2') format('woff2'),
        url('../style/fonts/druk/DrukTextWide-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Druk';
    src: url('../style/fonts/druk/Druk-Medium.woff2') format('woff2'),
        url('../style/fonts/druk/Druk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Wide';
    src: url('../style/fonts/druk/DrukWide-Heavy.woff2') format('woff2'),
        url('../style/fonts/druk/DrukWide-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Super';
    src: url('../style/fonts/druk/Druk-Super.woff2') format('woff2'),
        url('../style/fonts/druk/Druk-Super.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
