.grand-matter__header {
    width: 100%;
    position: fixed;
    height: 50px;
    z-index: 900000000;

    @include mq($from: desktop) {
      height: 80px;
    }

    &.blue {
      background-color: $green;
    }
}

.gm-container {
    position: relative;

    #menu-main-menu {
        margin-left: 10px;
    }
}

.grand-matter__logo {
    width: 62px;
    height: 62px;
    position: absolute;
    top: 10px;
    left: 10px;

    @include mq($from: desktop) {
      left:0px;
      width: 76px;
      height: 76px;
    }

    a {
        &:hover {
            border: none;
        }
    }

    &:hover {
      .secondary-logo {
        opacity: 1;
      }
    }

    svg.main-logo {
        width: 100%;
        height: auto;
        transition: opacity 0.2s ease-in-out;

        path {
            fill: white;
        }
    }

    svg.secondary-logo {
      display: none;
      transition: all 0.2s ease-in-out;

      @include mq($from: desktop) {
        display: block;
        width: 276px;
        position: absolute;
        top: 0px;
        height: auto;
        opacity: 0;

        path {
          fill: white;
        }
      }
    }

    .aw__gallery & {
        svg {
            g path {
                fill:#121212;
            }
            path {
                fill:#121212;
            }
        }
    }
}

.grand-matter__menu {
    @include grand-matter-head($massive);
    position: absolute;
    display: none;
    top: 0px;
    color: $green;
    width: 100%;
    background-color: $pink;
    min-height: 600px;
    height: 100vh;
    transition: all 0.2s ease-in-out;
    padding-top: 20px;
    z-index: 20000;
    padding-left: 20px;

    @include mq($from: desktop) {
        font-size: 6vw;
        padding-left: 0;
    }

    &.clicked {
      display: block;
      padding-top: 10px;

    }

    p {
        @include grand-matter-sub($medium);
        word-spacing: 0;
        letter-spacing: 0;
        max-width: 300px;
        margin-top: 50px;
    }

    li {
        a:hover {
            color: #fff;
        }
    }
}

.grand-matter__hamburger {
    position: absolute;
    top: 10px;
    right: 20px;
    height: 30px;
    width: 30px;
    z-index: 30000;

    .ham-top, .ham-middle, .ham-bottom {
        height: 4px;
        width: 100%;
        background-color: white;
        margin-bottom: 6px;
        transition: all 0.2s ease-in-out;

        .aw__gallery & {
            background-color: #121212;
        }
    }

    &.clicked {
        .ham-top {
          transform: rotate(45deg);
          margin-top: 10px;
        }

        .ham-middle {
            opacity: 0;
        }

        .ham-bottom {
            transform: rotate(-45deg);
            margin-top: -20px;
        }
    }
}
