.grand-matter__artists {
  overflow: auto;
  padding-top: 60px;

    @include mq($from: desktop) {
        padding-top: 80px;
    }
}

.grand-matter__intro {
  @include grand-matter-sub($big);
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;

  @include mq($from: desktop) {
    width: 46%;
    margin-bottom: 80px;
  }
}

.grand-matter__artist-title {
  margin-bottom: 14px;
  margin-top: 14px;

  h1 {
    @include grand-matter-head($big);
    color: $pink;

    @include mq($from: desktop) {
      @include grand-matter-head($massive);
      position: absolute;
      left: -40px;
      top: 60px;
      transform: rotate(-90deg);
    }
  }

  &.fixed {
    h1 {
      position: fixed;
      top: 150px;
    }
  }
}

.grand-matter__artist-image {
  width: 100%;
  height: 300px;
  position: relative;
  margin-bottom: calc(#{$realBig} + 14px);

  @include mq($from: tablet) {
    width: 48%;
    height: 350px;
    margin-right: 2%;
    float: left;
  }

  &:nth-child(odd) {
    @include mq($from: desktop) {
        margin-top: 50px;

        .grand-matter__artist-name {
            top: -50px;
            bottom: auto;
        }
    }

    &:hover {
      .grand-matter__artist-name {
        animation: overlayTitleTwo;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
    }
  }

  &:nth-child(even) {
    &:hover {
      .grand-matter__artist-name {
        animation: overlayTitle;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
    }
  }

  // &:last-child {
  //   @include mq($from: desktop) {
  //       margin-left: 200px;
  //   }
  //   @include mq($from: wide) {
  //       margin-left: 300px;
  //   }
  // }

  a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9000000;

    &:hover {
      border-bottom: none;
    }
  }
}

.grand-matter__featured-image {
  height: 100%;
  width: 100%;
  img {
    height: 100%;
    width: 100%;
    @supports(object-fit: cover) {
      object-fit: cover;
    }
  }
}

.grand-matter__artist-name {
  position: absolute;
  width: 50%;
  bottom: -38px;
  z-index: 200000;

  @include mq($from: desktop) {
      bottom: -50px;
  }

  h1 {
    @include grand-matter-sub($massive);
    line-height: calc(#{$massive} - 10px);
    color: white;
    word-spacing: 1300px;

    @include mq($from: desktop){
      @include grand-matter-sub($realBig);
      line-height: calc(#{$realBig} - 14px);
    }

    span {
      display: block;
      margin-left: 62px;
    }
  }
}
