@font-face {
    font-family: 'caslon';
    src: url('../style/fonts/caslon/big_caslon_medium-webfont.eot');
    src: url('../style/fonts/caslon/big_caslon_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../style/fonts/caslon/big_caslon_medium-webfont.woff2') format('woff2'),
         url('../style/fonts/caslon/big_caslon_medium-webfont.woff') format('woff'),
         url('../style/fonts/caslon/big_caslon_medium-webfont.ttf') format('truetype'),
         url('../style/fonts/caslon/big_caslon_medium-webfont.svg#big_caslonmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'basis';
    src: url('../style/fonts/basis/black/basis-grotesque-black.eot');
    src: url('../style/fonts/basis/black/basis-grotesque-black.eot?#iefix') format('embedded-opentype'),
         url('../style/fonts/basis/black/basis-grotesque-black.woff2') format('woff2'),
         url('../style/fonts/basis/black/basis-grotesque-black.woff') format('woff'),
         url('../style/fonts/basis/black/basis-grotesque-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
